// font-family: 'Labrada', serif;
// font-family: 'Roboto Slab', serif;

//Fuentes
$fuente_principal: 'Roboto Slab', serif; 
$fuente_secundaria: 'Labrada', serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$marron_claro: #EDBE6E;
$verde-azul: #2F4F4F;
$verde-agua: #336666;
$azul: #000066;
$secundario: #00c8c2;
$html:#DD4B25;
$css:#254BDD;
$js:#EFD81D;
$node:#3C823B;
$php:#7377AD;

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;

$rojo: rgb(169, 0, 0);
$verde: #02db02;