@use 'base/variables' as v;
@use 'base/mixins' as m;

/*Seccion Estudios*/

.estudios{
    grid-area: estudio;
    background-color: lighten(v.$azul, 50%);
    padding: 3rem;
    margin: 2rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &--foto__contenedor{
        display: none;
    }
    &__titulo{
        margin-bottom: 3rem;
        color: v.$gris-claro;
        font-size: 3.8rem;
    }
    &--info{
        color: darken(v.$verde-agua, 18%);
    }
    &--nivel{
        &__titulo{
            color: darken(v.$verde-azul, 5%);
            font-size: 2.8rem;
        }
        &__contenedor{
            border-bottom: 1px solid v.$gris;
            margin-bottom: 3rem;
            &:last-child{
                margin-bottom: 0rem;
            }
        }
    }
    &--info{
        &__contenedor{
            text-align: center;
        }
    }
    @include m.tablet{
        &--foto{
            &__contenedor{
                display: flex;
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
        }
        &__foto{
            overflow: hidden;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            border-radius: 10px;
            position: relative;
            &--img{
                height: 100%;
                position: absolute;
                width: auto;
                &:hover{
                    transition: 1.3s;
                    scale: 1.1;
                    filter: grayscale(100%);
                }
            }
        }

    }
}